<%= form_tag import_user_galleries_path, remote: true, multipart: true, id: 'csv_form' do %>
  <% if @errors.present? %>
    <div class="alert alert-danger" style="width:100%"><%= alert %>
        <% @errors.each do |msg| %>
          <%= msg %>
        <% end %>
    </div>
  <% end %>
  <div class="form-group">
    <%= label_tag :file, "Upload File", class: "form-label" %>
    <%= file_field_tag :file, class: "form-control" %>
  </div>
  <%= submit_tag "Import CSV", class: 'btn btn-primary' %>
<% end %>

<script>
  $(document).ready(function() {
    $("#csv_form").validate({
      debug: true,
      rules: {
        "file": {required: true, accept: "text/csv"}
      }
    });
  });
</script>
