<div class= 'header_box'>
  <nav class="navbar navbar-inverse">
    <div id="navbar">
        <ul class="nav navbar-nav">
          <li><%= link_to 'About Us', root_path %></li>
        </ul>
        <ul class="nav navbar-nav">
          <li><%= link_to 'Contact Us', contacts_new_path %></li>
        </ul>
        <ul class="nav navbar-nav">
          <li><%= link_to 'Gallery', home_gallery_path %></li>
        </ul>
        <ul class="nav navbar-nav">
          <li><%= link_to "LOG OUT", destroy_user_session_path, method: :delete %></li>
        </ul>
        <ul class="nav navbar-nav">
          <%= link_to "My Account", edit_user_registration_path %>
        </ul>
       </div>
  </nav>
</div>