<div class= 'header_box'>
  <nav class="navbar navbar-inverse">
    <div id="navbar">
      <ul class="nav navbar-nav">
        <li><%= link_to 'About Us', root_path %></li>
      </ul>
      <ul class="nav navbar-nav">
        <li><%= link_to 'Contact Us', contacts_new_path %></li>
      </ul>
      <ul class="nav navbar-nav">
        <li><%= link_to 'Gallery', user_galleries_path(current_user)%></li>
      </ul>
      <ul class="nav navbar-right">
        <li><%= link_to "LOG OUT", destroy_user_session_path, method: :delete %></li>
      </ul>
      <ul class="nav navbar-right">
        <li><%= link_to "Account Settings", edit_user_registration_path %></li>
      </ul>
    </div>
  </nav>
</div>